<footer class="app-footer">
  <div class="container">
    <div>
      <div class="yellow">Хватит думать!</div>
      <div class="brown">Доставим заказ за 30 минут!</div>
      <div class="app-footer__text">
        Мы гарантировано доставим вашу пиццу за 30 минут с момента оформления
        заказа.Если мы опоздаем даже на 1 минуту - вы получаете весь заказ
        бесплатно и ваучер наскидку на следующий заказ. Мы гордимся нашим сервисом
        и сделаем всё, чтобы наш клиент был доволен не остался голодный!
      </div>
    </div>
    <app-order-from></app-order-from>
  </div>
  <img
    class="app-footer__img"
    src="./assets/img/slice-pizza.png"
    alt="slice pizza"
  />
</footer>
