.app-footer {
  width: 80%;
  display: flex;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.brown {
  color: #b89765;
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 20px 0;
}

.yellow {
  color: #f6af47;
  font-size: 20px;
  font-weight: 600;
}

.app-footer__img {
  height: 270px;
}

.app-footer__text {
  color: #b89765;
  width: 300px;
}
