.app-button {
  background-color: #ffa500;
  color: #5b4c34;
  font-weight: 600;
  width: 220px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.disabled-button {
  background-color: #f6af47;
  cursor: not-allowed;
}
