<form [formGroup]="form" class="app-form">
  <input
    (keydown)="onKeyDown($event)"
    placeholder="Ваше имя"
    type="text"
    id="name"
    formControlName="name"
  />
  <div
    class="app-form__hint"
    *ngIf="
      form.controls['name'].invalid &&
      form.controls['name'].touched
    "
  >
    Имя может содержать только буквы
  </div>
  <input
    placeholder="Адрес доставки"
    type="text"
    id="address"
    formControlName="address"
  />
  <input
    placeholder="Телефон"
    type="text"
    id="phone"
    formControlName="phone"
  />
  <app-cust-button
    (click)="submit()"
    [disabled]="form.invalid"
    type="submit"
    text="Оформить заказ"
  ></app-cust-button>
  <app-alert *ngIf="isSubmit" (close)="onAlertClose()" message="Спасибо за заказ"></app-alert>
</form>
